// EXPECT: fail
// DIAGNOSTICS: TypeMismatch

type First = union {
    lo: u32,
    hi: u32,
};

type Second = union {
    lo: u32,
    hi: u32,
};

cog task main() {
    var first: First = undefined;
    var second: Second = first;
}