// EXPECT: fail
// DIAGNOSTICS: TypeMismatch

type Left = bitfield (u32) {
    low: nib,
};

type Right = bitfield (u32) {
    low: nib,
};

cog task main() {
    var left: Left = undefined;
    var right: Right = left;
}