// EXPECT: pass
// STAGE: final-asm
// EXACT:
// - RDLONG ?1, ##g_seed
// - ADD ?1, #1
// - WRLONG ?1, ##g_seed
// - RDLONG ?1, ##g_seed
// - ADD ?1, #1
// - WRLONG ?1, ##g_seed
// CONTAINS:
// - g_seed LONG 7
// ARGS:
// - --module=extmod=extmod.mod
import extmod as ext;

cog task main {
    ext.increment();
    ext.increment();
}
