// EXPECT: pass
// STAGE: asmir
// ARGS:
// - -fno-mir-opt=*
// - -fno-lir-opt=*
// - -fno-asmir-opt=*
// - -fasmir-opt=drop-jmp-next
// CONTAINS:
// ! JMP #add1_bb1
// NOTE:
//   Positive case for ASMIR drop-jmp-next: the redundant jump should be removed.
cog task main {
    
    cog var sink: u32 = 0;
    
    noinline fn add1(x: u32) -> u32 {
        return x + 1;
    }
    
    sink = add1(1);
}