// EXPECT: pass
// STAGE: final-asm
// CONTAINS:
// - ADD ?1, #1
// ! MOV ?, ?1
// ! MOV ?1, ?
cog task main {
    
    cog var shared: u32 = 0;
    
    shared = shared + 1; // Must be optimized to 'ADD g_shared, #1'
}