// EXPECT: pass
// STAGE: lir
// ARGS:
// - -fno-mir-opt=*
// - -fno-lir-opt=*
// CONTAINS:
// - binary.Add
// NOTE:
//   Negative case for LIR dce: the dead addition is still present.
cog task main {
    
    cog var sink: u32 = 0;
    cog var input: u32 = 5;
    
    noinline fn demo(x: u32) -> u32 {
        var y: u32 = x + 1;
        return x;
    }
    
    sink = demo(input);
}