// EXPECT: pass
// STAGE: lir
// ARGS:
// - -fno-mir-opt=*
// - -fno-lir-opt=*
// - -flir-opt=asm-const-decl-imm-propagation
// CONTAINS:
// - sidefx inlineasm x=%r0:r, %0=%r1:w

cog task main {
    var x: u32 = 13;

    asm {
        MOV %0, {x}
    };
}
