

[Blade/Diagnostics/DiagnosticCode.cs]

# The message is about code style that we sshould remove the underscore
# inside the "Exxxx_Foo" identifiers, but these actually help quickly
# diagnosing failures by grepping for the E/W code number instead of 
# the enumeration name:
dotnet_diagnostic.CA1707.severity = none

[*.cs]

# Performance tweaks are up to a later stage:
dotnet_diagnostic.CA1859.severity = none

# TODO: Implicit dependency on user local should be an error
# dotnet_diagnostic.CA1305.severity = error

# TODO: String builder optimizations:
# dotnet_diagnostic.CA1865.severity = error
# dotnet_diagnostic.CA1834.severity = error

