// EXPECT: pass
// STAGE: final-asm
// CONTAINS:
// - CALLPA PA, #f_test_helper
// SEQUENCE:
// - f_test_helper
// - test_helper_bb0
// - ?1
// - TESTP #62 WC
// - IF_NC JMP #?1
// - WYPIN #65, #62
// - RET WCZ

hub const TX_PIN: u32 = 62;

noinline leaf asm fn test_helper()
{
_loop:
    TESTP {TX_PIN} WC
IF_NC JMP #_loop
    WYPIN #65, {TX_PIN}
}

cog task main {
    test_helper();
}
