// Inline assembly with flag output annotation
reg var value: u32 = 0xAB;
reg var bit_pos: u32 = 3;

fn test_bit(val: u32, pos: u32) -> bool@C {
    asm -> @C {
        TESTB {val}, {pos} WC
    };
}

fn check_zero(val: u32) -> bool@Z {
    asm -> @Z {
        CMP {val}, #0 WZ
    };
}
