// EXPECT: xfail
// STAGE: bound
// NOTE:
//   String literals can be implicitly coerced to [N]u8 when lengths match.
//   Zero-terminated strings append NUL, so z"hi!" is 4 bytes.

reg var a: [4]u8 = "bye!";
reg var b: [4]u8 = z"hi!";
