// EXPECT: pass
// STAGE: bound
// CONTAINS:
// - Literal<u32> 5000
// - Literal<u32> 4998
// ! Binary<u32> Subtract
// NOTE:
//   The compiler must optimize the "ticks - 2" into a constant
//   node as we've guaranteed the value won't ever change.

cog const ticks: u32 = 5000;

@WAITX(ticks - 2); // this must be folded by the compiler eagerly
