// EXPECT: pass-hw
// RUNS:
// - [ 100, 200 ] = 300
// NOTE:
//   Tests if-else expressions (ternary select).
//   max(100,200) + min(100,200) = 200 + 100 = 300 = 0x12C

extern reg var rt_result: u32;
extern reg var rt_param0: u32;
extern reg var rt_param1: u32;

noinline fn max(a: u32, b: u32) -> u32 {
    return if (a > b) a else b;
}

noinline fn min(a: u32, b: u32) -> u32 {
    return if (a < b) a else b;
}

rt_result = max(rt_param0, rt_param1) + min(rt_param0, rt_param1);
