// EXPECT: pass-hw
// OUTPUT: 0xDEADBEEF
// ARGS: --runtime=../../Blade.HwTestRunner/Runtime.spin2
// NOTE:
//   This test is the baseline for hardware tests.
//   If it fails, there's either a deeply rooted problem
//   in the compiler, or the test fixture is broken.


extern reg var rt_result: u32;

rt_result = 0xDEADBEEF;
