// EXPECT: pass

cog task main 
{
    coro fn ping() {
        loop {
            yieldto pong();
        }
    }

    coro fn pong() {
        loop {
            yieldto ping();
        }
    }
    
    yieldto ping();
}
