// EXPECT: fail
// DIAGNOSTICS:
// - E0271

layout First
{
    cog var first: u32 = 0;
}

layout Second
{
    cog var second: u32 = 0;
}

fn second_user() : layout(Second)
{
    second = 2;
}

fn double_user() : layout(First, Second)
{
    second_user();
}

cog task main : Second, First
{
    double_user();
}
