// EXPECT: pass
// STAGE: lir-preopt
// ARGS:
// - -fno-mir-opt=*
// CONTAINS:
// - mov
// NOTE:
//   Exercises unary plus to emit a "LirMovOperation"

extern cog var OUTA: u32 @(0x1FC);

noinline fn unary_ops(x: i32) -> i32 {
    return +x;
}

cog var input_x: i32 = 42;
OUTA = bitcast(u32, unary_ops(input_x));
