// EXPECT: pass
// NOTE:
//   Exercises while loop codegen.

extern reg var OUTA: u32 @(0x1FC);

noinline fn countdown(n: u32) -> u32 {
    var result: u32 = 0;
    var i: u32 = n;
    while (i > 0) {
        result = result + i;
        i = i - 1;
    }
    return result;
}

reg var n: u32 = 5;
OUTA = countdown(n);
