// EXPECT: pass
// STAGE: asmir
// 
// SEQUENCE:
// - NOP
// - ?1
// - MOV ?2, #?1
// - NOP

cog task main {
  cog var foo: u32 = 0;
  asm volatile {
      NOP // guard nop for pattern matcher
    self:
      MOV {foo}, #self
      NOP // guard nop for pattern matcher
  };
}
