// EXPECT: fail
// STAGE: final-asm
// DIAGNOSTICS: InlineAsmInvalidOperandAddressSpace
// NOTE:
//   Inline asm can address global constants, but not global variables unless they 
//   are `cog var`.

hub var ADDRESS: u32 = 62;

noinline leaf asm fn rt_write_byte() -> u32
{
    RDLONG {return}, {ADDRESS}
}

cog task main {
    _ = rt_write_byte();
}
