// EXPECT: pass
// STAGE: final-asm
// CONTAINS:
// - BYTE 1, 2, 3, 4
// - WORD 5, 6
// - LONG 7, ?

cog task main {
    asm volatile {
        JMP #done
        BYTE 1, 2, 3, 4
        WORD 5, 6
        LONG 7, done
    done:
        NOP
    };
}
