// EXPECT: pass-hw
// RUNS:
// - [ 0xAAAA, 0x5555 ] = [ 0, 0xFFFF, 0xFFFF, 0xFFFF5555 ]
// - [ 0, 0 ] = [ 0, 0, 0, 0xFFFFFFFF ]
// - [ 0xFFFFFFFF, 0xFFFFFFFF ] = [ 0xFFFFFFFF, 0xFFFFFFFF, 0, 0 ]
// - [ 0xF0F0F0F0, 0x0F0F0F0F ] = [ 0, 0xFFFFFFFF, 0xFFFFFFFF, 0x0F0F0F0F ]
// - [ 0xA5A5A5A5, 0xA5A5A5A5 ] = [ 0xA5A5A5A5, 0xA5A5A5A5, 0, 0x5A5A5A5A ]
// NOTE:
//   Tests u32 bitwise operators by reporting each operator result separately.
cog task main {
    
    extern cog var rt_result: u32;
    extern cog var rt_result1: u32;
    extern cog var rt_result2: u32;
    extern cog var rt_result3: u32;
    extern cog var rt_param0: u32;
    extern cog var rt_param1: u32;

    rt_result = rt_param0 & rt_param1;
    rt_result1 = rt_param0 | rt_param1;
    rt_result2 = rt_param0 ^ rt_param1;
    rt_result3 = ~rt_param0;
}