// EXPECT: pass-hw
// RUNS:
// - [ 0x1234 ] = [ 0x1234, 0x12FF, 0x020F, 0x030E, 0x30E0, 0x0C38 ]
// - [ 0 ] = [ 0, 0x00FF, 0x000F, 0x010E, 0x10E0, 0x0438 ]
// - [ 0xFFFFFFFF ] = [ 0xFFFFFFFF, 0xFFFFFFFF, 0x0F0F, 0x0E0E, 0xE0E0, 0x3838 ]
// - [ 0xDEADBEEF ] = [ 0xDEADBEEF, 0xDEADBEFF, 0x0E0F, 0x0F0E, 0xF0E0, 0x3C38 ]
// - [ 0x5A5A5A5A ] = [ 0x5A5A5A5A, 0x5A5A5AFF, 0x0A0F, 0x0B0E, 0xB0E0, 0x2C38 ]
// NOTE:
//   Tests compound assignment operators by reporting each intermediate value.
cog task main {
    
    extern cog var rt_result: u32;
    extern cog var rt_result1: u32;
    extern cog var rt_result2: u32;
    extern cog var rt_result3: u32;
    extern cog var rt_result4: u32;
    extern cog var rt_result5: u32;
    extern cog var rt_param0: u32;

    var r: u32 = rt_param0;
    rt_result = r;
    r |= 0xFF;
    rt_result1 = r;
    r &= 0x0F0F;
    rt_result2 = r;
    r ^= 0x0101;
    rt_result3 = r;
    r <<= 4;
    rt_result4 = r;
    r >>= 2;
    rt_result5 = r;
}