// EXPECT: pass-hw
// RUNS:
// - [ 0x100 ] = 0x100
// NOTE:
//   This test is a basic smoke test that checks if the test runner
//   works at all.
// - [ 0 ] = 0
// - [ 1 ] = 1
// - [ 0x200 ] = 0x200
// - [ 0xFFFFFFFF ] = 0xFFFFFFFF
cog task main {
    extern cog var rt_result: u32 @(0); // TODO: revert these!
    extern cog var rt_param0: u32 @(1); // TODO: revert these!
   
    rt_result = rt_param0;
}
