cog task main {
    
    
    
    cog const i0: u32 = 0b11_00_101;
    cog const i1: u32 = 0q123_123;
    cog const i2: u32 = 0o666_775;
    cog const i3: u32 = 1_234_567;
    cog const i4: u32 = 0xDEAD_BEEF;
}