// EXPECT: pass
// STAGE: final-asm
// CONTAINS:
// - RETI1
// - RETI2
// - RETI3
cog task main {
    
    
    int1 fn handle_irq1() {
        // stub
    }
    
    int2 fn handle_irq2() {
        // stub
    }
    
    int3 fn handle_irq3() {
        // stub
    }
}