// EXPECT: pass
// NOTE:
//   Exercises rep for loop lowering to REP with @label body-length calculation.
cog task main {
    
    extern cog var OUTA: u32 @(0x1FC);
    
    noinline fn sum_n(n: u32) -> u32 {
        var sum: u32 = 0;
        rep for(n) -> i {
            sum = sum + i;
        }
        return sum;
    }
    
    cog var v: u32 = 5;
    OUTA = sum_n(v);
}