// EXPECT: pass
// STAGE: final-asm
// CONTAINS:
// - RDLUT ?, #?
// - WRLUT ?, #?
// - ADD ?, #1
// NOTE:
//   Compound assignment on lut var decomposes into read-modify-write.

cog task main {
    lut var counter: u32 = 0;

    counter += 1;
}
