// EXPECT: pass
// STAGE: final-asm
// CONTAINS:
// ! RDLONG
// NOTE:
//   hub const variables may be folded directly into immediates.

hub const config: u32 = 0xDEAD;

cog task main {
    cog var sink: u32 = 0;

    sink = config;
}
