// EXPECT: pass
// STAGE: final-asm
// CONTAINS:
// ! RDLUT
// NOTE:
//   lut const variables may be folded directly into immediates.


cog task main {
    lut const table: u32 = 0xFF;
    cog var sink: u32 = 0;

    sink = table;
}
