
import builtin;

fn wait(cnt: u32) {
    asm {
        WAITX {cnt}
    };
}

cog task main : builtin.IO
{
    while(true) {
        OUTA |= 0x10;
        wait(1000);
        OUTA = 0;
        wait(1000);
    }
}