cog task main 
{
    cog const pin: u32 = 10;
    cog const clock_delay: u32 = 5_000_000;
    
    // Launch coroutine loop:
    yieldto blink_on();

    fn sleep() {
        @WAITX(clock_delay - 2);
    }

    coro fn blink_on() {
        loop {
            @DRVH(pin);
            sleep();
            yieldto blink_off();
        }
    }

    coro fn blink_off() {
        loop {
            @DRVH(pin);
            sleep();
            yieldto blink_on();
        }
    }
}
