// Starter example: recursive Fibonacci using plain local `var`.

rec fn fibonacci(n: u32) -> u32 {
    if (n <= 1) {
        return n;
    }

    var a: u32 = fibonacci(n - 1);
    var b: u32 = fibonacci(n - 2);
    return a + b;
}

cog task main
{
    cog var input: u32 = 10;
    cog var result: u32 = 0;

    result = fibonacci(input);
}
