// EXPECT: pass
// STAGE: final-asm
// CONTAINS:
// ! RDLUT
// NOTE:
//   lut const variables may be folded directly into immediates.

lut const table: u32 = 0xFF;
reg var sink: u32 = 0;

sink = table;
