// EXPECT: pass
// STAGE: final-asm
// CONTAINS:
// - TESTP
// - COGATN #1
// - COGATN #2
// NOTE:
//   As of 2026-03-20, the whole branch is removed from the if/else code.
//   which is wrong.

asm fn test_pin(index: u32) -> bool@C {
    TESTP {index} WC
}

cog task main {
    if(test_pin(1)) {
        asm volatile { 
            COGATN #1 
        };
    }
    else {
        asm volatile { 
            COGATN #2
        };
    }
}
