// EXPECT: pass
// STAGE: final-asm
// FLEXSPIN: forbidden
// NOTE:
//   Verifies the code generation for a basic comparison

cog task main {
    extern cog var input: u32;
    extern cog var output: u32;

    if(input == 0) {
        output = 1;
    }
    else {
        output = 2;
    }
}
