// EXPECT: fail
// DIAGNOSTICS:
// - L13, EnumLiteralRequiresContext
// NOTE:
//   Bare enum literals need an expected enum type from context.

type Mode = enum (u8) {
    Idle = 0,
};


cog task main {
    _ = .Idle;
}
