// EXPECT: fail
// DIAGNOSTICS:
// - StructDuplicateField
// NOTE:
//   Typed struct literals reject duplicate fields.

type Point = struct {
    x: u32,
    y: u32,
};
cog task main {
    var p: Point = Point { .x = 10, .x = 20, .y = 30 };
}
