// EXPECT: pass
// STAGE: bound
// CONTAINS:
// - Member<u32> .lo
// - TargetMember<u32> .hi

type Pair = struct {
    lo: u32,
    hi: u32,
};

type Header = union {
    pair: Pair,
    lo: u32,
    hi: u32,
};

cog task main {
    cog var header: Header = undefined;

    var first: u32 = header.lo;
    header.hi = first;
}
