// EXPECT: pass
// STAGE: final-asm
// CONTAINS:
// - MOV g_reinterpreted_signed, ?1
// - ?1      LONG $FFFFFFFF
// ! MOV g_reinterpreted_signed, #-1
cog task main {
    
    cog var reinterpreted_signed: i8 = 0;
    reinterpreted_signed = bitcast(i8, 255 as u8);
}
