// EXPECT: pass
// STAGE: final-asm
// SEQUENCE:
// - WRPIN ?1, ?2
// - ?2 LONG $00000789
// - ?1 LONG $00000456
// ! AUGD
// ! AUGS
// NOTE:
//   WRPIN accepts immediate syntax in both D and S fields.
//   The legalizer must choose AUGD for operand 0 and AUGS for operand 1.
cog task main {
    
    asm {
        WRPIN #1110, #1929
    };
}
