// EXPECT: pass
// STAGE: final-asm
// CONTAINS:
// - COGID ?
// - COGSTOP ?
// SEQUENCE:
// - f__start_2
// - _start_bb0_2
// - COGID ?1
// - COGSTOP ?1

cog task worker() {
}

cog task main {
    spawn worker();
}
