// EXPECT: pass

cog const global_state: u32 = 100;

assert global_state < 200;
assert sizeof(global_state) == 1;
assert alignof(global_state) >= 1;

fn verify() void {
    assert 2 + 2 == 4, "math is broken";
}

